

// ================= Navigation =================
.navigation{
    .navigation-con{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        .nav-left{
            .logo{
                width: 200px;
                img{
                    width: 100%;
                }
            }
        }
        .nav-right{
            display: flex;
            justify-content: center;
            align-items: center;
            .links{
                a{
                    text-decoration: none;
                    padding: 10px;
                    color: rgb(44, 44, 44);
                }
            }
            .user{
                position: relative;
                margin-left: 20px;
                .user-box{
                    .user-img{
                        width: 40px;
                        height: 40px;
                        border-radius: 100px;
                        cursor: pointer;
                        border: 1px solid black;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                            width: 30px;
                            height: 30px;
                            border-radius: 100px;
                            cursor: pointer;
                        }
                    }
                    .user-link{
                        background: white;
                        width: 200px;
                        position: absolute;
                        right: 0;
                        top: 40px;
                        display: flex;
                        flex-direction: column;
                        border: 1px solid black;
                        border-radius: 10px;
                        padding: 10px;
                        a{
                            text-decoration: none;
                            color: rgb(37, 37, 37);
                        }
                    }
                }
            }
        }
        .login-btn{
            background: black;
            color: white;
            text-decoration: none;
            cursor: pointer;
            padding: 5px 20px;
            border-radius: 10px;
        }
    }
}

// ================= Footer =================
.footer{
    background: black;
    padding: 50px 0;
    .footer-con{
        width: 90%;
        margin: auto;
        .foot-left{
            img{
                width: 120px;
            }
        }
    }
}
// ================= Footer =================
.menu{
    padding-left: 20px;
    .posts{
        .post-box{
            margin-bottom: 20px;
            .post-img{
                img{
                    width: 100%;
                    border-radius: 10px;
                }
            }
            .post-info{
                .post-title{
                    font-size: 20px;
                }
                .read-more-btn{
                    background: none;
                    border: none;
                    outline: none;
                    padding: 5px 20px;
                    border: 1px solid black;
                    cursor: pointer;
                    margin: 10px;
                }
            }
        }
    }
}
